@media (max-width: 450px) {
    body {
        background-size: 500%;
    }

    h1 {
        font-size: 1.5rem;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    h2 {
        font-size: .8rem;
        margin-bottom: 30px;
        padding: 0 20px;
        text-align: center;
    }

    .container {
        width: 90%;
    }

    .erro-text {
        font-size: 11px;
    }

    .formulario button {
        margin-bottom: 20px;
        width: 60%;
    }

    .formulario > label > input {
        width: 90%;
    }
}